@page "/document/{guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .documentArea{
        align-content: center;
        color: white;
    }
</style>

@if(document != null)
{
    <div class="documentArea">
        <h1>@document.Name</h1>
        <p>@document.Text</p>
    </div>
}

@code {
    [Parameter]
    public string? guid { get; set; }

    private Models.Document? document { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(guid))
            NavigationManager.NavigateTo("/error");

        HttpResponseMessage response = await Http.GetAsync($"api/Document/{guid}");

        if (response.IsSuccessStatusCode)
            document = await response.Content.ReadFromJsonAsync<Models.Document>();
        else
            NavigationManager.NavigateTo("/error");
    }
}