@page "/document/{guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (document != null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>Got Result!</em></p>
   
}

@code {
    [Parameter]
    public string? guid { get; set; }

    private Models.Document? document { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("I'm inside init");
        if (string.IsNullOrWhiteSpace(guid))
            NavigationManager.NavigateTo("/error");

        HttpResponseMessage response = await Http.GetAsync($"Document/{guid}");

        if (response.IsSuccessStatusCode)
            document = await response.Content.ReadFromJsonAsync<Models.Document>();
        else
            NavigationManager.NavigateTo("/error");
    }
}