@page "/document/{Guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .documentArea{
        align-content: center;
        color: white;
    }
</style>

@if(Data != null)
{
    <div class="documentArea">
        <h1>@Data.Name</h1>
        <p>@Data.Text</p>
    </div>
}

@code {
    [Parameter]
    public string? Guid { get; set; }
    private Models.Document? Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Guid))
            NavigationManager.NavigateTo("/error");

        HttpResponseMessage response = await Http.GetAsync($"api/Document/{Guid}");

        if (response.IsSuccessStatusCode)
            Data = await response.Content.ReadFromJsonAsync<Models.Document>();
        else
            NavigationManager.NavigateTo("/error");
    }
}