@page "/document/{guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .documentBox{
        border-radius: 25px;
        padding: 16px;
        max-width: 60%;
        width: 400px;
        min-width: 30%;
        margin-top: 30vh;
        margin-bottom: 8px;
        background-color: white;
    }

    .middleOfPage{
        align-content: center;
    }
</style>

@if(document != null)
{
    <div class="middleOfPage">
        <h1>@document.Name</h1>
    </div>   

    <div class="middleOfPage">
        <span class="documentBox">
            @document.Text
        </span>
    </div>
}

@code {
    [Parameter]
    public string? guid { get; set; }

    private Models.Document? document { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(guid))
            NavigationManager.NavigateTo("/error");

        HttpResponseMessage response = await Http.GetAsync($"api/Document/{guid}");

        if (response.IsSuccessStatusCode)
            document = await response.Content.ReadFromJsonAsync<Models.Document>();
        else
            NavigationManager.NavigateTo("/error");
    }
}