@page "/search/{guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if(string.IsNullOrEmpty(guid) || data == null || string.IsNullOrEmpty(data.Id))
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>Got following guid: @guid</em></p>
    <p>search id: @data.Id</p>
}

@code {
    [ParameterAttribute]
    public string guid { get; set; }

    public Models.Search.Search data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync($"api/Search/{guid}");

        if (response.IsSuccessStatusCode)
            data = await response.Content.ReadFromJsonAsync<Models.Search.Search>();
        else
            NavigationManager.NavigateTo("/error");
    }
}