@page "/search/{guid}"
@using Digitalboken.Client.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .documentArea{
        align-content: center;
        color: white;
    }

    img {
        height:170px
        width: auto;/*maintain aspect ratio*/
        max-width:500px;
    }   

    p{
        text-align: center;
        color: white;
    }

    td{
        text-align: center;
        color: white;
    }
</style>

@if(string.IsNullOrEmpty(guid) || data == null || string.IsNullOrEmpty(data.Id))
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>Got following guid: @guid</em></p>
    <p>search id: @data.Id</p>

    <table>
    @foreach(var item in data.Results)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Snippet</td>
                @if(item.Pagemap?.CseImage?.FirstOrDefault() != null)
                {
                    <td><img src=@item.Pagemap.CseImage.FirstOrDefault().Src alt="alternatetext"></td>
                }
                else
                {
                    <td>no image</td>
                }
        </tr>      
    }
    </table>
}

@code {
    [ParameterAttribute]
    public string guid { get; set; }

    public Models.Search.Search data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync($"api/Search/{guid}");

        if (response.IsSuccessStatusCode)
            data = await response.Content.ReadFromJsonAsync<Models.Search.Search>();
        else
            NavigationManager.NavigateTo("/error");
    }
}